My_workflow_2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-post",
        "options": {}
      },
      "id": "7fe524bb-edd1-453e-af0f-8d7d826b2327",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -920,
        160
      ],
      "webhookId": "6c2cbe11-7c5b-4ca1-9aaf-0feaff6ff5dc"
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "url": "=https://learnflow.com/wp-json/wp/v2/posts/{{ $node['Webhook'].json['post_id'] }}",
        "options": {}
      },
      "id": "3aa5026f-bb43-49f7-a2c8-1081f78360b6",
      "name": "Fetch Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -720,
        160
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "avUR5sItOjDu03NT",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "post_content",
              "value": "=New blog post: {{ $node['Summarize Article'].json['text'].slice(0, 200) + ($node['Summarize Article'].json['text'].length > 200 ? '...' : '') }} Read more: {{ $node['Fetch Post'].json['link'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9fa07203-7842-4d9e-825a-93b71f97dd1a",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -160,
        160
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "channel": "marketing_team_channel_id",
        "text": "={{ $node['Format Output'].json['post_content'] }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "863688b2-b4fd-4f34-8acb-1cddab21ecfd",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        40,
        260
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "0jKwJbbzBiFRfz5N",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -540,
        160
      ],
      "id": "05ad37ec-0fbd-4917-803d-aa7df88b1e1c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -640,
        340
      ],
      "id": "ab1c8e5c-9fb3-485a-814c-a1f32fb32849",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "lQLG02FWNoH0eUrj",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -460,
        380
      ],
      "id": "a7c52669-0b8c-4ee3-8ef9-37cb0fde9db9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedInTool",
      "typeVersion": 1,
      "position": [
        -320,
        380
      ],
      "id": "f178fd41-807f-4a5b-af76-89d8ecc28f83",
      "name": "LinkedIn",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "sfGfk10MUL0ao3on",
          "name": "LinkedIn account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Post": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8bd72cc6-34a7-4b4d-b1d3-a17fa7ca110c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5aa7a6fae962aea509f9447035cb47e2111bafd038264da2b5a3059f9d4a8e90"
  },
  "id": "zyU2mydUS5HSBRnI",
  "tags": []
}